odoo-addon-account_fiscal_position_partner_type @ git+https://github.com/OCA/account-fiscal-rule.git@refs/pull/607/head#subdirectory=account_fiscal_position_partner_type
odoo-addon-l10n_eu_oss_oca @ git+https://github.com/OCA/account-fiscal-rule.git@refs/pull/608/head#subdirectory=l10n_eu_oss_oca
